1
*.vcxproj.user
*.gscache
*.vscache
*.pscache
libmysql.dll
Engine_Debug.dll
Engine.dll
Engine_Debug.lib
Engine_Release.dll
Engine_Profile.dll
Engine.lib
Physics.dll
Physics_Debug.dll
Physics_Release.dll
LuaInteractive.exe
UI.dll
UI_Debug.dll
UI_Release.dll
GeoMorphing_Debug.exe
GeoMorphing.exe
colorramp.bmp
Editor_Debug.exe
Editor.exe
Game.exe
Game_Debug.exe
Game_Profile.exe
Game_Release.exe
GameServer.exe
UnitTest.exe
Controllers.dll
EngineApp.exe
EngineApp_Debug.exe
LanguageTest.exe
profile_result.txt
/*.dae
*.dds
*.bmp
*.suo
*.~ml
*.log
*.toc
*.png
*.xcf
*.uml
Data/objects/asteroids/*/textureSets/*
Data/meshes/*/*/editor/*
Data/meshes/*/*/paint/*
Data/meshes/*/*/resources/*
Data/particles/*/editor/*
Data/particles/*/paint/*
Data/particles/*/resources/*
Data/particles/*/textureSets/*
data/objects/modules/*/textureSets/*
Data/objects/*/*/editor/*
Data/objects/*/*/paint/*
Data/objects/*/*/resources/*
Data/objects/parts/*/textureSets/*
Data/objects/parts/*/T_*/*
Data/objects/ships/*/textureSets/*
Data/objects/ships/*/T_*/*
data/objects/modules/backup/*
data/objects/modules/*_*/
data/objects/modules/core/
data/objects/modules/hull/
data/objects/modules/shield/
data/objects/modules/residence/
Code/Debug
Code/Profile
Code/Release
Code/ipch
Code/*.suo
Code/*.sdf
Code/*.opensdf
Code/Engine/Debug
Code/Engine/Profile
Code/Engine/Release
Code/EngineApp/Debug
Code/EngineApp/Profile
Code/EngineApp/Release
Code/Editor/Debug
Code/Editor/Release
Code/GeoMorphing/Debug
Code/GeoMorphing/Release
Code/ScriptSystem/Debug
Code/ScriptSystem/Release
Code/UnitTest/Debug
Code/UnitTest/Release
Code/LanguageTest/Debug
Code/LanguageTest/Release
Code/Controllers/Debug
Code/Controllers/Release
Code/Game/Debug
Code/Game/Profile
Code/Game/Release
Code/Editor/Debug
Code/Editor/Release
Code/Editor/bin
Code/Editor/obj
Code/UI/Release
Code/UI/Debug
Code/CommonLib/Debug
Code/CommonLib/Profile
Code/CommonLib/Release
Code/MemoryManager/Debug
Code/MemoryManager/Release
Code/GameServer/Debug
Code/GameServer/Release
Code/GameCommon/Debug
Code/GameCommon/Profile
Code/GameCommon/Release
Code/LuaInteractive/Debug
Code/LuaInteractive/Release
Code/Physics/Debug
Code/Physics/Release
Data/floatn44w123_13.flt
Data/*.fbnormal
Data/Textures
Data/server.lua
Data/configUser.lua
Data/database/.*